.grid-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .grid-row {
        display: flex;
        align-items: center;
        margin: 2px 0 2px 0;

        .grid-cell {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            max-width: 12vh;
            max-height: 12vh;
            flex: 1 1 auto;
            align-content: center;
            justify-content: center;
            border: 2px solid var(--theme-surface-raised);
            border-radius: 8px;
            background-color: var(--theme-surface-light);
            margin-right: 2px;
            cursor: pointer;
            transition-duration: 0.2s;
            z-index: 0;
            aspect-ratio: 1;
            width: 100%;

            .image-icon {
                width: 100%;
                height: 100%;
                pointer-events: none;
            }

            &.selected {
                scale: 1.2 1.2;
                transition-duration: 0.2s;
                z-index: 1;
            }

            &.right {
                translate: 102%;
                transition-duration: 0.2s;
            }

            &.up {
                translate: 0 -102%;
                transition-duration: 0.2s;
            }

            &.down {
                translate: 0 102%;
                transition-duration: 0.2s;
            }

            &.left {
                translate: -102%;
                transition-duration: 0.2s;
            }

            &.moved {
                // transition-duration: 0s;
                z-index: 0;
            }

            .text {
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 8px;
            }

            .overlay-text {
                width: 100%;
                background-color: #69696930;
                padding: 8px;
                position: absolute;
                box-sizing: border-box;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .hidden {
            visibility: hidden;
        }

        :last-child {
            margin-right: 0;
        }
    }
}

.tooltip-class {
    background-color: var(--theme-surface-raised);
}
